#!/usr/bin/env python

# craton url
craton_url = '{{ craton_url }}'

# craton endpoint credentials
craton_creds = {
        'username': '{{ craton.Username }}',
        'password': '{{ craton.APIKey }}',
        'project': '{{ craton.ProjectId }}'
}
