#!/usr/bin/env python

# craton url
craton_url = '{{ craton_url }}'

# craton endpoint credentials
craton_creds = {
        'username': '{{ craton_username }}',
        'password': '{{ craton_password }}',
        'project': '{{ craton_project_id }}'
}
